parameters:
    level: 7
    paths:
        - DependencyInjection
        - Exception
        - Resources/config
        - Extension
        - Node
        - NodeVisitor
        - Tests
        - TokenParser
        - MakCssModuleBundle.php
    ignoreErrors:
        - '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:scalarNode\(\).$#'
    parallel:
        processTimeout: 300.0
        maximumNumberOfProcesses: 4
    reportUnmatchedIgnoredErrors: false